@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
@font-face {
  font-family: 'Futura';
  font-weight: 400;
  font-style: normal;
  src: local("FuturaPT-Book"), url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Lovelace';
  font-weight: 400;
  font-style: normal;
  src: local("Lovelace-Regular"), url("../fonts/Lovelace-Regular.woff2") format("woff2"), url("../fonts/Lovelace-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Lovelace';
  font-weight: 500;
  font-style: normal;
  src: local("Lovelace-Medium"), url("../fonts/Lovelace-Medium.woff2") format("woff2"), url("../fonts/Lovelace-Medium.woff") format("woff");
  font-display: swap;
}

*, .title, .button {
  font-family: "Futura", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.heading, .home-banner__title, .lookbook__title, .card-info__name, .lookbook-page__title {
  font-family: "Lovelace", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.our-instagram__user-name {
  font-family: "Lovelace", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.breadcrumbs__item:after {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  color: #474a51;
  line-height: 130%;
}

body,
html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.title {
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #474a51;
  margin-bottom: 80px;
}

.button {
  padding: 15px 35px;
  border: 1px solid #474a51;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #474a51;
}

.heading {
  font-size: 52px;
  text-align: center;
  text-transform: uppercase;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 12px;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:after {
  position: absolute;
  content: "/";
  right: -10px;
  top: 1px;
  font-size: 16px;
}

.breadcrumbs__item:last-child:after {
  content: none;
}

.breadcrumbs__link {
  font-size: 16px;
}

.breadcrumbs__link--last {
  text-transform: uppercase;
}

.index {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#dd06ee), to(#185ced));
  background: linear-gradient(0deg, #dd06ee 0%, #185ced 100%);
}

.index__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  height: 100vh;
}

.index a {
  color: #fff;
  text-align: center;
  font-size: calc(22px + 12 * (100vw / 1400));
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.index a:hover {
  color: purple;
}

@media (max-width: 767px) {
  .index a {
    font-size: calc(22px + (12 + 12 * 0.7) * ((100vw - 320px) / 1400));
  }
}

.header {
  border-bottom: 1px solid #eee;
}

.header-top {
  background: #dde8f6;
  padding: 11px 0;
}

.header-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header-top__inner .header-top__close {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-top__delivery {
  font-size: 14px;
  line-height: 130%;
}

.header-nav {
  padding: 15px 0;
}

.header-nav__inner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 25px;
  margin-right: 202px;
}

.header-nav__menu li a {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.header-nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
  margin-left: auto;
}

.header-nav__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-right: 17px;
}

.header-nav__cart .header-nav__count {
  position: absolute;
  font-size: 14px;
  line-height: 130%;
  right: 0;
  bottom: -3px;
}

.home-banner {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(100px, 700px) minmax(100px, 600px);
  -ms-grid-columns: (minmax(100px, auto))[2];
      grid-template: minmax(100px, 700px) minmax(100px, 600px)/repeat(2, minmax(100px, auto));
}

.home-banner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  max-width: 100%;
  min-height: 100%;
}

.home-banner__item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  padding-bottom: 141px;
}

.home-banner__item:nth-child(1) .home-banner__view {
  color: #474a51;
  background: #dde8f6;
}

.home-banner__title, .home-banner__heading, .home-banner__view {
  text-transform: uppercase;
  color: #fff;
  line-height: 130%;
}

.home-banner__title {
  font-size: 52px;
  margin-top: auto;
}

.home-banner__heading {
  font-size: 24px;
  letter-spacing: 0.02em;
}

.home-banner__view {
  border: 1px solid #fff;
  margin-top: 30px;
}

.home-catalog {
  padding: 160px 0;
}

.home-catalog__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 407px))[3];
      grid-template-columns: repeat(3, minmax(100px, 407px));
  gap: 55px 30px;
  margin-bottom: 80px;
}

.home-catalog__card {
  max-width: 407px;
  width: 100%;
  min-height: 677px;
}

.home-catalog__info {
  width: 100%;
  min-height: 600px;
  position: relative;
  overflow: hidden;
  background-size: cover;
}

.home-catalog__info:hover .home-catalog__form {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.home-catalog__info:hover .home-catalog__favorites {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.home-catalog__favorites {
  position: absolute;
  top: 10px;
  right: 20px;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.home-catalog__span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.home-catalog__hit-sale {
  background: #285da1;
  color: #fff;
}

.home-catalog__new {
  border: 1px solid #fff;
  color: #fff;
}

.home-catalog__last-size {
  background: #fff;
  border: 1px solid #474a51;
}

.home-catalog__sale {
  background: #eb5757;
  color: #fff;
}

.home-catalog__form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 11px 0 12px;
  background: rgba(221, 232, 246, 0.7);
  -webkit-transform: translate3d(25px, 75px, 30px);
          transform: translate3d(25px, 75px, 30px);
  -webkit-transition: 1s;
  transition: 1s;
}

.home-catalog__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px 14px;
}

.home-catalog__add-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 130%;
}

.home-catalog__label {
  cursor: pointer;
}

.home-catalog__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.home-catalog__checkbox {
  font-size: 16px;
  line-height: 130%;
  color: #474a51;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.home-catalog__input:checked + .home-catalog__checkbox {
  background: #474a51;
  color: #fff;
}

.home-catalog__body {
  padding-top: 20px;
}

.home-catalog__body-caption, .home-catalog__body-price {
  font-size: 24px;
  line-height: 130%;
  text-align: center;
}

.home-catalog__body-caption {
  margin-bottom: 5px;
}

.home-catalog__body-price {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 8px;
}

.home-catalog__old-price {
  color: #9f9d9d;
  position: relative;
}

.home-catalog__old-price:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1px;
  background: #9f9d9d;
}

.home-catalog__view {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.lookbook {
  overflow: hidden;
}

.lookbook__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lookbook__container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  background: #6b6a6a;
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lookbook__body {
  width: 50%;
  padding: 50px 0px 50px 0;
}

.lookbook__title {
  font-size: 40px;
  margin: 0 0 10px;
  font-size: 52px;
}

.lookbook__description {
  margin-bottom: 50px;
}

.lookbook__text {
  font-size: 16px;
}

.lookbook__text + .lookbook__text {
  margin-top: 10px;
}

.lookbook__view {
  display: inline-block;
}

.lookbook__image img {
  max-width: 100%;
}

@media (min-width: 767px) {
  .lookbook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 767px) {
  .lookbook__body {
    width: 50%;
    padding: 50px 20px 50px 50px;
  }
}

@media (min-width: 767px) {
  .lookbook__image {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
    padding: 0 0 44% 0;
  }
  .lookbook__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.our-instagram {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 160px;
}

.our-instagram__title {
  margin-bottom: 30px;
}

.our-instagram__user-name {
  font-size: 52px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.our-instagram__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-instagram__card {
  display: -ms-grid;
  display: grid;
  place-items: center;
  max-width: 350px;
  width: 100%;
  min-height: 350px;
  height: 100%;
  position: relative;
}

.our-instagram__card::after {
  position: absolute;
  content: "";
  inset: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  z-index: 1;
}

.our-instagram__card:hover::after {
  background: rgba(221, 232, 246, 0.6);
}

.our-instagram__card:hover .our-instagram__slogan {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.our-instagram__img {
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-instagram__slogan {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  z-index: 2;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.catalog {
  padding: 50px 0 100px;
}

.catalog__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 298px) minmax(100px, 952px);
      grid-template-columns: minmax(100px, 298px) minmax(100px, 952px);
  gap: 40px 30px;
}

.catalog__heading {
  margin-bottom: 26px;
}

.catalog-top {
  max-width: 100%;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-top__sort {
  margin-left: auto;
  font-size: 16px;
}

.dropdown {
  position: relative;
  max-width: 188px;
  width: 100%;
  height: 30px;
  margin-left: 29px;
}

.dropdown::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  background: #555;
  z-index: 10;
  right: 28px;
  top: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(40deg);
          transform: translateY(-50%) rotate(40deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  background: #555;
  z-index: 10;
  right: 20px;
  top: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-40deg);
          transform: translateY(-50%) rotate(-40deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown.active::before {
  right: 20px;
}

.dropdown.active::after {
  right: 28px;
}

.dropdown input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 0px;
  outline: none;
  font-weight: 400;
  padding: 6px 15px;
  background: #fff;
  border: 1px solid #eee;
  font-size: 14px;
  line-height: 130%;
  color: #474a51;
}

.dropdown .option {
  position: absolute;
  width: 100%;
  background: #fff;
  top: 45px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  z-index: 10;
}

.dropdown .option div {
  padding: 12px 20px;
  cursor: pointer;
}

.dropdown .option div:hover {
  background: #62baea;
  color: #fff;
}

.dropdown.active .option {
  opacity: 1;
  visibility: visible;
}

.catalog-filter {
  max-width: 298px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.catalog-filter__heading {
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.catalog-filter__heading + .catalog-filter__heading {
  margin-top: 10px;
}

.catalog-filter__form {
  margin-top: 40px;
  max-width: 100%;
  width: 100%;
}

.catalog-filter__item {
  width: 100%;
}

.catalog-filter__item + .catalog-filter__item {
  margin-top: 50px;
}

.catalog-filter__title {
  font-size: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.catalog-filter__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 130%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.catalog-filter__label + .catalog-filter__label {
  margin-top: 11px;
}

.catalog-filter__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.catalog-filter__checkbox {
  width: 20px;
  height: 20px;
  border: 0.5px solid #474a51;
  margin-right: 20px;
  position: relative;
}

.catalog-filter__checkbox::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #285da1;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.catalog-filter__input:checked + .catalog-filter__checkbox::before {
  opacity: 1;
}

.catalog-filter__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
}

.catalog-filter__price input {
  width: 70px;
  border: 1px solid #eee;
  padding: 6px 10px;
}

.catalog-filter__price input::-webkit-input-placeholder {
  font-size: 14px;
  color: #9f9d9d;
}

.catalog-filter__price input:-ms-input-placeholder {
  font-size: 14px;
  color: #9f9d9d;
}

.catalog-filter__price input::-ms-input-placeholder {
  font-size: 14px;
  color: #9f9d9d;
}

.catalog-filter__price input::placeholder {
  font-size: 14px;
  color: #9f9d9d;
}

.catalog-filter__price span {
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.catalog-filter__reset {
  background: #9f9d9d;
  font-size: 14px;
  color: #fff;
  margin-top: 50px;
  border: none;
}

.catalog-content {
  max-width: 952px;
  width: 100%;
}

.catalog-content__product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 297px))[3];
      grid-template-columns: repeat(3, minmax(100px, 297px));
  width: 100%;
  gap: 50px 30px;
  margin-bottom: 80px;
}

.catalog-content__product .home-catalog__card {
  max-width: 297px;
  min-height: 497px;
}

.catalog-content__product .home-catalog__info {
  min-height: 420px;
}

.catalog-content__view {
  display: block;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.card-breadcrumbs {
  padding: 30px 0 15px;
}

.card {
  padding: 15px 0 80px;
}

.card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 30px;
}

.card-slider {
  max-width: 625px;
  width: 100%;
  min-height: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(50px, 188px) minmax(50px, 407px);
      grid-template-columns: minmax(50px, 188px) minmax(50px, 407px);
  gap: 0 30px;
  overflow: hidden;
}

.card-slider__thumb {
  max-width: 188px;
  width: 100%;
  height: 610px;
}

.card-slider__thumb-card + .card-slider__thumb-card {
  margin-top: 30px;
}

.card-slider .slick-vertical .slick-slide {
  border: none;
}

.card-slider__thumb-card, .card-slider__thumb-item {
  max-width: 188px;
  width: 100%;
  min-height: 290px;
}

.card-slider__thumb-item img {
  width: 188px;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-slider__big {
  max-width: 407px;
  width: 100%;
  min-height: 100%;
}

.card-slider__big-item, .card-slider__big-card {
  max-width: 407px;
  width: 100%;
  min-height: 100%;
}

.card-slider__big-item img {
  width: 407px;
  height: 610px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-info {
  max-width: 625px;
  width: 100%;
}

.card-info__subtitle, .card-info__table {
  font-size: 16px;
  color: #9f9d9d;
  margin-bottom: 20px;
}

.card-info__table {
  margin-bottom: 30px;
}

.card-info__name {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.card-info__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
  margin-bottom: 5px;
}

.card-info__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.card-info__checkbox {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.card-info__check {
  width: 36px;
  height: 30px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.card-info__checkbox:checked + .card-info__check {
  color: #fff;
  background: #285da1;
}

.card-info__checkbox:disabled + .card-info__check {
  color: #9f9d9d;
}

.card-info__price {
  font-size: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.card-info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
  margin-bottom: 30px;
}

.card-info__add-cart {
  background: #dde8f6;
  border: none;
}

.card-info__list + .card-info__list {
  margin-top: 10px;
}

.card-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px 0;
}

.card-info__item {
  font-size: 16px;
  color: #9f9d9d;
}

.card-info__colors {
  margin-bottom: 30px;
}

.card-info__colors .card-info__check {
  width: 53px;
  height: 53px;
  border: 4px solid rgba(221, 232, 246, 0);
  overflow: hidden;
}

.card-info__colors .card-info__check img {
  width: 53px;
  height: 53px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-info__colors .card-info__checkbox:checked + .card-info__check {
  border: 4px solid #285da1;
  border-radius: 2px;
}

.card-like {
  padding: 80px 0;
}

.card-like__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 298px))[4];
      grid-template-columns: repeat(4, minmax(50px, 298px));
  gap: 0 30px;
}

.card-like__content .home-catalog__card {
  min-height: 497px;
}

.card-like__content .home-catalog__info {
  min-height: 419px;
}

.lookbook-page {
  padding-bottom: 80px;
}

.lookbook-page__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 476px) minmax(100px, 685px) minmax(100px, 298px) minmax(100px, 516px) minmax(100px, 410px) minmax(100px, 625px) minmax(100px, 298px);
      grid-template-columns: minmax(100px, 476px) minmax(100px, 685px) minmax(100px, 298px) minmax(100px, 516px) minmax(100px, 410px) minmax(100px, 625px) minmax(100px, 298px);
  gap: 80px 0;
}

.lookbook-page__text {
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.lookbook-page__title {
  font-size: 52px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.lookbook-page__subtitle {
  font-size: 16px;
}

.lookbook-page__item img {
  margin-bottom: 15px;
}

.lookbook-page__item:nth-child(1) {
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: baseline;
  margin-top: 100px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.lookbook-page__item:nth-child(2) {
  justify-self: baseline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
}

.lookbook-page__item:nth-child(3) {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 8;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.lookbook-page__item:nth-child(4) {
  justify-self: baseline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
}

.lookbook-page__item:nth-child(5) {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.lookbook-page__item:nth-child(6) {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
}

.lookbook-page__item:nth-child(7) {
  justify-self: baseline;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.lookbook-page__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  gap: 0 5px;
}

.lookbook-brands .lookbook__title {
  max-width: 437px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.lookbook-for {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.lookbook-for .lookbook__image {
  -webkit-transform: translate(100%, 0%);
          transform: translate(100%, 0%);
}

.lookbook-for .lookbook__body {
  margin-left: auto;
}

.lookbook-for .lookbook__title {
  text-transform: uppercase;
}

.lookbook-for .lookbook__container {
  background: #fff;
}

.error-404 {
  padding: 160px 0;
}

.error-404__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error-404__title {
  margin-bottom: 80px;
}

.error-404__text {
  font-size: 24px;
}

.error-404__text + .error-404__text {
  margin-top: 2px;
}

.error-404__back {
  background: #dde8f6;
  border: none;
  margin-top: 50px;
}

.contacts {
  padding: 80px 0;
}

.contacts__content {
  text-align: center;
}

.contacts__title {
  margin-bottom: 80px;
}

.contacts__subtitle, .contacts__shop {
  font-size: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contacts__text {
  font-size: 24px;
  margin-bottom: 80px;
}

.contacts__open {
  font-size: 24px;
}

.footer {
  padding: 120px 0 150px;
  background: #eeeeee;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  max-width: 297px;
  width: 100%;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 18px;
}

.footer__slogan {
  font-size: 24px;
  margin-bottom: 5px;
}

.footer__phone {
  display: inline-block;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.footer__email {
  display: block;
  font-size: 14px;
  margin-bottom: 40px;
}

.footer__information li {
  font-size: 14px;
}

.footer__information li + li {
  margin-top: 2px;
}

.footer__content {
  max-width: 625px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(30px, 98px))[1] (minmax(30px, 150px))[1];
  -ms-grid-columns: (minmax(50px, 188px))[3];
      grid-template: repeat(1, minmax(30px, 98px)) repeat(1, minmax(30px, 150px))/repeat(3, minmax(50px, 188px));
  gap: 50px 30px;
}

.footer__form {
  max-width: 416px;
  width: 100%;
  margin-bottom: 50px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.footer__text {
  font-size: 16px;
  margin-bottom: 15px;
}

.footer__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.footer__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #474a51;
  padding: 8px 4px;
}

.footer__input::-webkit-input-placeholder {
  font-size: 14px;
  color: #838e9c;
}

.footer__input:-ms-input-placeholder {
  font-size: 14px;
  color: #838e9c;
}

.footer__input::-ms-input-placeholder {
  font-size: 14px;
  color: #838e9c;
}

.footer__input::placeholder {
  font-size: 14px;
  color: #838e9c;
}

.footer__subscribe {
  padding: 10px 20px;
  border: 1px solid #474a51;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.footer__item {
  max-width: 188px;
  width: 100%;
}

.footer__title {
  font-size: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__list li + li {
  margin-top: 5px;
}

.footer__list li a {
  font-size: 14px;
}

@media (max-width: 1024px) {
  .header-nav__menu {
    gap: 0 15px;
    margin-right: auto;
  }
}

@media (max-width: 992px) {
  .header-nav__logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .header-nav__menu {
    margin: 0 auto;
  }
  .header-nav__box {
    margin-left: 0;
  }
}

@media (max-width: 820px) {
  .header-nav__box {
    gap: 0 15px;
  }
}

@media (max-width: 425px) {
  .header-top__delivery {
    text-align: center;
  }
  .header-nav__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-nav__menu {
    position: fixed;
    inset: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px 0;
    background: rgba(40, 93, 161, 0.8);
    display: none;
  }
  .header-nav__menu li a {
    color: #fff;
    font-size: 24px;
  }
}

@media (max-width: 390px) {
  .header-top__inner .header-top__close {
    display: none;
  }
}

@media (max-width: 320px) {
  .header-nav__box {
    gap: 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */