@media (max-width: 1024px) {
  .card {
    &__inner {
      gap: 0 20px;
    }
  }
  .card-slider {
    max-width: 100%;
    gap: 0 15px;
  }
  .card-info {
    max-width: 395px;
  }
  .card-like {
    padding: 60px 0;
    &__title {
      margin-bottom: 40px;
    }
    &__content {
      gap: 0 5px;
    }
  }
}

@media (max-width: 992px) {
  .card {
    padding: 15px 0 60px;
  }
}

@media (max-width: 820px) {
  .card {
    &__inner {
      flex-direction: column-reverse;
      gap: 15px;
    }
  }
  .card-info {
    max-width: 100%;
  }
  .card-slider {
    max-width: 100%;
    width: 100%;
    grid-template-columns: minmax(50px, 188px) minmax(50px, 100%);
  }
  .card-like {
    &__content {
      grid-template-columns: repeat(2, minmax(50px, 298px));
      gap: 15px 30px;
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 425px) {
  .card-slider {
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: minmax(50px, 230px) minmax(50px, 450px) ;
    // grid-auto-flow: column;
    display: flex;
    flex-direction: column-reverse;
    height: 695px;
    gap: 15px 0;
    // &__big {
    //   max-width: 100%;
    //   grid-column: 1 / 5;
    //   grid-row: 2 / 3;
    // }
    &__thumb {
      position: absolute;
      z-index: 1;
      max-width: 393px;
      height: 230px;
    }
    &__thumb-card + .card-slider__thumb-card {
      margin-top: 0px;
    }
    &__thumb-card {
      margin: 0 15px;
    }
    &__thumb-card,
    &__thumb-item {
      min-height: 230px;
    }
    &__thumb-item {
      img {
        height: 230px;
      }
    }
    &__big {
      height: 455px;
    }
    &__big-item,
    &__big-card {
      min-height: 455px;
    }
    &__big-card {
      height: 455px;
      img {
        height: 455px;
      }
    }
  }
  .card-like {
    &__content {
      gap: 15px 10px;
    }
  }
}

@media (max-width: 414px) {
}

@media (max-width: 390px) {
  .card-slider {
    &__thumb {
      max-width: 360px;
    }
  }
}

@media (max-width: 375px) {
  .card-slider {
    height: 670px;
    &__thumb {
      max-width: 345px;
      height: 200px;
    }
    &__thumb-card,
    &__thumb-item {
      min-height: 200px;
    }
    &__thumb-item {
      height: 200px;
    }
  }
  .card-like {
    padding: 30px 0;
    &__content {
      .home-catalog__card {
        min-height: 462px;
      }
      .home-catalog__info {
        min-height: 400px;
      }
    }
  }
}

@media (max-width: 360px) {
  .card-slider {
    &__thumb {
      max-width: 330px;
    }
  }
}

@media (max-width: 320px) {
  .card-slider {
    height: 565px;
    &__big {
      height: 350px;
    }
    &__big-item,
    &__big-card {
      height: 350px;
      img {
        height: 350px;
      }
    }
    &__thumb {
      max-width: 290px;
    }
  }
  .card-like {
    &__title {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
