@media (max-width: 1024px) {
  .header-nav {
    &__menu {
      gap: 0 15px;
      margin-right: auto;
    }
  }
}

@media (max-width: 992px) {
  .header-nav {
    &__logo {
      order: -1;
    }
    &__menu {
      margin: 0 auto;
    }
    &__box {
      margin-left: 0;
    }
  }
}

@media (max-width: 820px) {
  .header-nav {
    &__box {
      gap: 0 15px;
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 425px) {
  .header-top {
    &__delivery {
      text-align: center;
    }
  }
  .header-nav {
    &__inner {
      justify-content: space-between;
    }
    &__menu {
      position: fixed;
      inset: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px 0;
      background: rgba($color: #474a51, $alpha: 0.9);
      display: flex;
      transform: scale(0);
      transition: all 0.4s ease-in-out;
      li {
        transition: 0.6s ease-out;
        transition-delay: 0.2s;
        a {
          color: #fff;
          font-size: 24px;
        }
      }
      li:nth-child(odd) {
        transform: translateX(-400%);
      }
      li:nth-child(even) {
        transform: translateX(400%);
      }
    }
    &__menu--active {
      transform: scale(1);
      li:nth-child(1),
      li:nth-child(2),
      li:nth-child(3),
      li:nth-child(4) {
        transform: translateX(0%);
      }
    }
    &__box {
      margin-left: auto;
    }
    &__btn {
      display: block;
      margin-left: 12px;
    }
  }

  @media (max-width: 414px) {
  }

  @media (max-width: 390px) {
    .header-top {
      &__inner {
        .header-top__close {
          display: none;
        }
      }
    }
  }

  @media (max-width: 375px) {
    .header-nav {
      &__box {
        gap: 0 10px;
      }
    }
  }

  @media (max-width: 360px) {
    .header-nav {
      &__favorites {
        display: none;
      }
    }
  }

  @media (max-width: 320px) {
    .header-nav {
      &__box {
        gap: 0 10px;
      }
      &__cart {
        display: none;
      }
    }
  }
}
