@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
@import "fonts";
@import "vars";
@import "reset";
@import "global";
.index {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(221, 6, 238, 1) 0%, rgba(24, 92, 237, 1) 100%);
  a {
    font-size: 34px;
    color: #fff;
  }
}
.header-top {
  background: #dde8f6;
  padding: 11px 0;
  &__inner {
    display: flex;
    justify-content: center;
    position: relative;
    .header-top__close {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__delivery {
    font-size: 14px;
    line-height: 130%;
  }
}
.header-nav {
  padding: 15px 0;
  &__inner {
    @extend %flex;
    justify-content: center;
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 0 25px;
    margin-right: auto;
    li {
      a {
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
      }
    }
  }
  &__box {
    display: flex;
    align-items: center;
    gap: 0 30px;
    margin-left: auto;
  }
  &__cart {
    display: flex;
    position: relative;
    padding-right: 17px;
    .header-nav__count {
      position: absolute;
      font-size: 14px;
      line-height: 130%;
      right: 0;
      bottom: -3px;
    }
  }
}
.home-banner {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  // grid-template-columns: repeat(2, minmax(100px, auto));
  // grid-template-rows: minmax(100px, 700px) minmax(100px, 600px);
  grid-template: minmax(100px, 700px) minmax(100px, 600px) / repeat(2, minmax(100px, auto));
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    max-width: 100%;
    min-height: 100%;
  }
  &__item:nth-child(1) {
    grid-column: 1 / 3;
    padding-bottom: 141px;
    .home-banner__view {
      color: #474a51;
      background: #dde8f6;
    }
  }
  &__title,
  &__heading,
  &__view {
    text-transform: uppercase;
    color: #fff;
    line-height: 130%;
  }
  &__title {
    @extend %lovelace-400;
    font-size: 52px;
    margin-top: auto;
  }
  &__heading {
    font-size: 24px;
    letter-spacing: 0.02em;
  }
  &__view {
    border: 1px solid #fff;
    margin-top: 30px;
  }
}
.home-catalog {
  padding: 160px 0;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 407px));
    gap: 55px 30px;
    margin-bottom: 80px;
  }
  &__card {
    max-width: 407px;
    width: 100%;
    min-height: 677px;
  }
  &__info {
    width: 100%;
    min-height: 600px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    &:hover {
      .home-catalog__form {
        transform: translate3d(0px, 0px, 0px);
      }
      .home-catalog__favorites {
        transform: translateY(0px);
      }
    }
  }
  &__favorites {
    position: absolute;
    top: 10px;
    right: 20px;
    transform: translateY(-40px);
    transition: 0.6s ease-out;
  }
  &__span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  &__hit-sale {
    background: #285da1;
    color: #fff;
  }
  &__new {
    border: 1px solid #fff;
    color: #fff;
  }
  &__last-size {
    background: #fff;
    border: 1px solid #474a51;
  }
  &__sale {
    background: #eb5757;
    color: #fff;
  }
  &__form {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 12px;
    background: rgba($color: #dde8f6, $alpha: 0.7);
    transform: translate3d(25px, 75px, 30px);
    transition: 1s;
  }
  &__size {
    display: flex;
    justify-content: center;
    gap: 0px 14px;
  }
  &__add-cart {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 130%;
  }
  &__label {
    cursor: pointer;
  }
  &__input {
    appearance: none;
    position: absolute;
  }
  &__checkbox {
    font-size: 16px;
    line-height: 130%;
    color: #474a51;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
  }
  &__input:checked + .home-catalog__checkbox {
    background: #474a51;
    color: #fff;
  }
  &__body {
    padding-top: 20px;
  }
  &__body-caption,
  &__body-price {
    font-size: 24px;
    line-height: 130%;
    text-align: center;
  }
  &__body-caption {
    margin-bottom: 5px;
  }
  &__body-price {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
  }
  &__old-price {
    color: #9f9d9d;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 1px;
      background: #9f9d9d;
    }
  }
  &__view {
    width: fit-content;
    display: block;
    margin: 0 auto;
  }
}

.lookbook {
  overflow: hidden;
  &__content {
    flex: 0 0 100%;
    display: flex;
  }
  &__container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    background: #6b6a6a;
    background: #eee;
    display: flex;
    align-items: center;
  }
  &__body {
    width: 50%;
    padding: 50px 0px 50px 0;
  }
  &__title {
    font-size: 40px;
    margin: 0 0 10px;
    @extend %lovelace-400;
    font-size: 52px;
  }
  &__description {
    margin-bottom: 50px;
  }
  &__text {
    font-size: 16px;
    & + .lookbook__text {
      margin-top: 10px;
    }
  }
  &__view {
    display: inline-block;
  }
  &__image {
    img {
      max-width: 100%;
    }
  }
}

@media (min-width: 767px) {
  .lookbook {
    display: flex;
  }
}
@media (min-width: 767px) {
  .lookbook__body {
    width: 50%;
    padding: 50px 20px 50px 50px;
  }
}

@media (min-width: 767px) {
  .lookbook__image {
    position: relative;
    // flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);
    flex: 0 0 50%;
    transform: translate(-100%, 0%);
    padding: 0 0 44% 0;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}
// @media (min-width: 1360px){
//   .section__image{
//     // flex: 0 0 calc(100vw - (((100vw - 1360px) / 2) + ((1360px - 40px) * 0.4 ) + 20px));
//     flex: 0 0 calc(50vw - (0.4 - 0.5) * (1360px - 40px));
//   }
// }
.our-instagram {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 160px;
  &__title {
    margin-bottom: 30px;
  }
  &__user-name {
    @extend %lovelace-500;
    font-size: 52px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
    // 358217 245/45/18 17685
    // 974262 275/40/18 30240
  }
  &__content {
    display: flex;
  }
  &__card {
    display: grid;
    place-items: center;
    max-width: 350px;
    width: 100%;
    min-height: 350px;
    height: 100%;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      inset: 0;
      transition: 0.4s ease-in-out;
      z-index: 1;
    }
    &:hover::after {
      background: rgba($color: #dde8f6, $alpha: 0.6);
    }
    &:hover {
      .our-instagram__slogan {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
  &__img {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
  &__slogan {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    z-index: 2;
    transition: 1s ease-in;
  }
}
.catalog {
  padding: 50px 0 100px;
  &__inner {
    display: grid;
    grid-template-columns: minmax(100px, 298px) minmax(100px, 952px);
    gap: 40px 30px;
  }
  &__heading {
    margin-bottom: 26px;
  }
}
.catalog-top {
  max-width: 100%;
  width: 100%;
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__sort {
    margin-left: auto;
    font-size: 16px;
  }
}
.dropdown {
  position: relative;
  max-width: 188px;
  width: 100%;
  height: 30px;
  margin-left: 29px;
}
.dropdown::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  background: #555;
  z-index: 10;
  right: 28px;
  top: 25px;
  top: 50%;
  transform: translateY(-50%) rotate(40deg);
  transition: 0.5s;
}

.dropdown::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  background: #555;
  z-index: 10;
  right: 20px;
  top: 25px;
  top: 50%;
  transform: translateY(-50%) rotate(-40deg);
  transition: 0.5s;
}

.dropdown.active::before {
  right: 20px;
}

.dropdown.active::after {
  right: 28px;
}

.dropdown input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 0px;
  outline: none;
  font-weight: 400;
  padding: 6px 15px;
  background: #fff;
  border: 1px solid #eee;
  font-size: 14px;
  line-height: 130%;
  color: #474a51;
}

.dropdown .option {
  position: absolute;
  width: 100%;
  background: #fff;
  top: 45px;
  border-radius: 10px;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  z-index: 10;
}

.dropdown .option div {
  padding: 12px 20px;
  cursor: pointer;
}

.dropdown .option div:hover {
  background: #62baea;
  color: #fff;
}

.dropdown.active .option {
  opacity: 1;
  visibility: visible;
}
.catalog-filter {
  max-width: 298px;
  width: 100%;
  height: fit-content;
  &__heading {
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    & + .catalog-filter__heading {
      margin-top: 10px;
    }
  }
  &__form {
    margin-top: 40px;
    max-width: 100%;
    width: 100%;
  }
  &__item {
    width: 100%;
    & + .catalog-filter__item {
      margin-top: 50px;
    }
  }
  &__title {
    font-size: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__label {
    display: flex;
    align-items: center;
    line-height: 130%;
    width: fit-content;
    cursor: pointer;
    & + .catalog-filter__label {
      margin-top: 11px;
    }
  }
  &__input {
    appearance: none;
    position: absolute;
  }
  &__checkbox {
    width: 20px;
    height: 20px;
    border: 0.5px solid #474a51;
    margin-right: 20px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #285da1;
      opacity: 0;
      transition: all 0.4s ease-in-out;
    }
  }
  &__input:checked + .catalog-filter__checkbox::before {
    opacity: 1;
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 0 10px;
    input {
      width: 70px;
      border: 1px solid #eee;
      padding: 6px 10px;
      &::placeholder {
        font-size: 14px;
        color: #9f9d9d;
      }
    }
    span {
      font-size: 16px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }
  }
  &__reset {
    background: #9f9d9d;
    font-size: 14px;
    color: #fff;
    margin-top: 50px;
    border: none;
  }
}
.catalog-content {
  max-width: 952px;
  width: 100%;
  &__product {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 297px));
    width: 100%;
    gap: 50px 30px;
    margin-bottom: 80px;
    .home-catalog__card {
      max-width: 297px;
      min-height: 497px;
    }
    .home-catalog__info {
      min-height: 420px;
    }
  }
  &__view {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}
.card-breadcrumbs{
  padding: 30px 0 15px;
}
.card {
  padding: 15px 0 80px;
  &__inner{
      display: flex;
  justify-content: space-between;
  }
}

.card-slider {
  max-width: 625px;
  width: 100%;
  min-height: 610px;
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: minmax(50px, 188px) minmax(50px, 407px);
  gap: 0 30px;
  overflow: hidden;
  &__thumb {
    max-width: 188px;
    width: 100%;
    height: 610px;
  }
  &__thumb-card + .card-slider__thumb-card {
    margin-top: 30px;
  }
  .slick-vertical .slick-slide {
    border: none;
  }
  &__thumb-card,
  &__thumb-item {
    max-width: 188px;
    width: 100%;
    min-height: 290px;
  }
  &__thumb-item {
    img {
      width: 188px;
      height: 290px;
      object-fit: cover;
    }
  }
  &__big {
    max-width: 407px;
    width: 100%;
    min-height: 100%;
  }
  &__big-item,
  &__big-card {
    max-width: 407px;
    width: 100%;
    min-height: 100%;
  }
  &__big-item {
    img {
      width: 407px;
      height: 610px;
      object-fit: cover;
    }
  }
}
.card-info{
  max-width: 625px;
  width: 100%;
}
.footer {
  padding: 120px 0 150px;
  background: #eeeeee;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    max-width: 297px;
    width: 100%;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 18px;
  }
  &__slogan {
    font-size: 24px;
    margin-bottom: 5px;
  }
  &__phone {
    display: inline-block;
    font-size: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__email {
    display: block;
    font-size: 14px;
    margin-bottom: 40px;
  }
  &__information {
    li {
      font-size: 14px;
      & + li {
        margin-top: 2px;
      }
    }
  }
  &__content {
    max-width: 625px;
    width: 100%;
    display: grid;
    // grid-template-columns: repeat(3, minmax(50px, 188px));
    // grid-template-rows: repeat(1, minmax(30px, 98px)) repeat(1, minmax(30px, 150px));
    grid-template: repeat(1, minmax(30px, 98px)) repeat(1, minmax(30px, 150px)) / repeat(3, minmax(50px, 188px));
    gap: 50px 30px;
  }
  &__form {
    max-width: 416px;
    width: 100%;
    margin-bottom: 50px;
    grid-column: 1 / 4;
  }
  &__text {
    font-size: 16px;
    margin-bottom: 15px;
  }
  &__label {
    display: flex;
    align-items: initial;
  }
  &__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #474a51;
    padding: 8px 4px;
    &::placeholder {
      font-size: 14px;
      color: #838e9c;
    }
  }
  &__subscribe {
    padding: 10px 20px;
    border: 1px solid #474a51;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  &__item {
    max-width: 188px;
    width: 100%;
  }
  &__title {
    font-size: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__list {
    li {
      & + li {
        margin-top: 5px;
      }
      a {
        font-size: 14px;
      }
    }
  }
}
@import "media";
